@import 'variables';

section#certificades {
  .card {
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding-right: 50px;

    a {
      color: $secondary;
    }

    a:hover {
      color: white;
    }

    @media (max-width: 768px) {
      padding-right: 12px;
    }
  }

  .card-contents {
    transition: 0.5s all;
    background-color: white;
    margin: 0;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.02);
    border-radius: 4px;

    @media (max-width: 768px) {
      padding-bottom: 60px;
    }

    &:hover {
      transition: 0.5s all;
      background-color: $primary;
      color: white;

      .title {
        transition: 0.5s all;
        color: white;
      }
    }
  }

  .title {
    transition: 0.5s all;
    color: $secondary;
    font-size: 2em;
    font-weight: 800;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 0px;
    width: 100px;
    height: 100px;
    border-radius: 62.5px;
    color: white;
    background-color: $primary;
    font-size: 3em;

    @media (max-width: 768px) {
      top: initial;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      right: 0px;
    }
  }
}
