@import 'variables';

// Hero
section.home {
  background-color: $background;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;

  .pretitle,
  .title,
  .subtitle {
    color: $secondary;
    font-size: 1.5rem;
  }

  .title {
    color: $highlight;
    font-size: 2.8rem;
    font-weight: 600;
  }

  .mj-button {
    &:hover i {
      transform-origin: center center;
      transform: rotateZ(90deg);
    }
  }
}

.hero-body {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: relative;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .hero-image {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
  }
}

.home .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
