@import 'variables';

.navbar {
  background-color: transparent;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;

  .mj-logo a {
    color: $highlight;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .navbar-burger,
  .navbar-menu a {
    color: contrast-color($background, $secondary, white);
  }
}

.navbar-menu {
  box-shadow: none;

  a {
    text-transform: uppercase;
  }

  a:hover {
    color: $highlight;
  }

  ul {
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.navbar-menu li.active a {
  color: $highlight;
  font-weight: bold;
}

body:not(.fp-viewing-home) .navbar {
  background-color: $navbar-bg;

  .navbar-burger,
  .navbar-item:not(.active):not(.mj-logo) a {
    color: contrast-color($navbar-bg, $secondary, white);
  }

  .navbar-menu.is-active {
    background-color: $navbar-bg;
  }
}
