@import 'variables';

section#skills {
  .card {
    position: relative;
    height: 100%;
    min-height: 150px;
    max-width: 450px;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;

    .card-image {
      background-color: $primary;
      color: white;
      margin: 0 auto -50px auto;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
    }

    .card-content {
      background-color: white;
      padding-top: 60px;
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
      border-radius: 4px;
    }
  }
}
