{{ $social := .Site.Params.social }}

<footer class="footer">
  <div class="content has-text-centered">
    <div class="field is-grouped is-justify-content-center">
      {{ range $social }}
        <div class="control">
          <a class="mj-button mj-round-button" href="{{ .link }}">
            <span class="icon">
              <i class="fa-fw {{ .icon }}"></i>
            </span>
          </a>
        </div>
      {{ end }}
    </div>
    <div>{{ .Site.Params.hero.name }} © {{ now.Format "2006" }}</div>
  </div>
</footer>
