{{ $hero := .Site.Params.hero }}
{{ $contact := .Site.Params.contact }}
{{ $name := index $hero "name" }}
{{ $description := index $hero "description" }}
{{ $email := index $contact "email" }}

<section class="hero is-fullheight" id="home">
  <div class="hero-body">
    <div class="container">
      <div class="subtitle">Hello, my name is</div>
      <h1 class="title">{{ $name }}</h1>
      <h2 class="subtitle">{{ $description }}</h2>
      <a class="button is-primary is-inverted is-outlined" href="#aboutme">
        More
      </a>
    </div>
  </div>
  <canvas class="background"></canvas>
</section>
