{{ $contact := .Site.Params.contact }}
{{ $email := index $contact "email" }}

<nav class="navbar sticky is-light">
  <div class="navbar-menu">
    <div class="navbar-start">
      {{ $email }}
    </div>
    <div class="navbar-end">
      <ul id="my-awesome-nav">
        {{ if .Site.Params.hero }}
          <li class="navbar-item"><a href="#home">Home</a></li>
        {{ end }}

        {{ if .Site.Params.aboutme }}
          <li class="navbar-item"><a href="#aboutme">About me</a></li>
        {{ end }}

        {{ if .Site.Params.skills }}
          <li class="navbar-item"><a href="#skills">Skills</a></li>
        {{ end }}

        {{ if .Site.Params.experience }}
          <li class="navbar-item"><a href="#experience">Experience</a></li>
        {{ end }}

        {{ if .Site.Params.blog.active }}
          <li class="navbar-item"><a href="#blog">Blog</a></li>
        {{ end }}

        {{ if .Site.Params.contact.active }}
          <li class="navbar-item"><a href="#contact">Contact</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
