{{ $skills := .Site.Params.skills }}

<section class="section is-medium" id="skills">
  <div class="header">
    <h2 class="title section-title is-3">Skills</h2>
    <div class="header-bar"></div>
  </div>

  <div class="columns is-centered is-multiline is-variable is-5">
    {{ range $skills }}
      <div
        class="column is-full is-half-tablet is-one-third-desktop is-one-quarter-widescreen "
      >
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="has-text-centered">
                <span class="icon is-size-1">
                  <span class="fa-fw {{ .icon }}"></span>
                </span>
                <p class="title is-4">{{ .name }}</p>
              </div>

              <p>{{ .description }}</p>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
